{% extends "base.html.twig" %}
{% block body %}
<div class="text-center">
    {% set premierMedia = figure.firstPicture %}
    {% if premierMedia is defined and premierMedia is not null %}
      <img class="img-fluid rounded mx-auto d-block" src="{{ asset('uploads/photos/' ~ premierMedia.link) }}" style="max-width: 700px; max-height: 700px;">
    {% else %}
      <img class="img-fluid" src="{{ asset('assets/img/portfolio/cabin.png') }}" alt="...">
    {% endif %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <a href="{{ path('figure_update', { 'id': figure.id }) }}">
        <img class="img-fluid" style="margin-top: 1em;" src="{{ asset('assets/img/pen.png') }}" alt="...">
      </a>
      <a href="{{ path('figure_delete', { 'id': figure.id }) }}">
        <img class="img-fluid" style="margin-left: 3em; margin-top: 1em;" src="{{ asset('assets/img/poubelle.png') }}" alt="...">
      </a>
    {% endif %}

  
    <div class="row justify-content-center" style="margin: 3em;">
      <div class="col-12 col-md-6 d-flex flex-wrap">
        {% for picture in figure.pictures %}
          <div class="col-sm-4">
            <img src="{{ asset('uploads/photos/' ~ picture.link) }}" alt="Image" style="max-width: 200px; max-height: 200px; margin-top: 2em; margin-left: auto; margin-right: auto;">
          </div>
        {% endfor %}
      </div>
      <div class="col-12 col-md-6 d-flex flex-wrap">
        {% for video in figure.videos %}
          {% set videoId = getYouTubeVideoId(video.link) %}
            {% if videoId is not null %}
              <div class="video-container" style="max-width: 200px; max-height: 200px; margin-top: 2em; margin-left: 2em; margin-right: auto;">
                <iframe src="https://www.youtube.com/embed/{{ videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            {% else %}
              <p>URL de vidéo YouTube invalide.</p>
            {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-center" style="margin: 2em;">
      <div class="col-12 col-md-8">
        <p>
          {{ figure.description }}
        </p>
        <hr class="my-4">
        <div class="d-flex justify-content-between">
          <div class="border p-3">
            {{ figure.name }}
          </div>
          <div class="border p-3">
            {{ figure.createdAt.format('Y-m-d') }}
          </div>
        </div>
        <hr class="my-5">
          <main class="form-signin" >
            {{ form_start(form, {'method': 'POST'} ) }}
                {{ form_row(form.title) }}
                {{ form_row(form.message) }}
              <button class="w-25 btn btn-lg btn-primary" type="submit">Laisse donc un commentaire</button>
            {{ form_end(form) }}
          </main>
        <hr class="my-5">
         {% for comment in paginator %}
          <div class="border p-3" style="margin-bottom: 1em;">
            <div>
              <h4 class="text-primary">{{ comment.title }}</h4>
            </div>
            <div>
              {{ comment.message }}
            </div>
            <div>
             Auteur : {% if comment.user %}
                        {{ comment.user.name }} {{ comment.user.firstName }} <img src="{{ asset('assets/img/avataaars.svg') }}" alt="Avatar" class="avatar" style="width: 30px; height: 30px;">
                      {% else %}
                        Anonyme
                      {% endif %}
            </div>
            <div>
             Date : {{ comment.createdAt.format('Y-m-d') }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% if paginator %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if currentPage > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ path('figure_detail', { 'id': figure.id, 'page': currentPage - 1 }) }}">Précédent</a>
        </li>
      {% endif %}
      {% for page in 1..totalPages %}
        {% if page == currentPage %}
          <li class="page-item active">
            <span class="page-link">{{ page }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ path('figure_detail', { 'id': figure.id, 'page': page }) }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if currentPage < totalPages %}
        <li class="page-item">
          <a class="page-link" href="{{ path('figure_detail', { 'id': figure.id, 'page': currentPage + 1 }) }}">Suivant</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
  </div>
{% endblock %}