{% extends "base.html.twig" %}

{% block body %}
<div class="text-center">
    {% set premierMedia = figure.firstPicture %}
    {%  if premierMedia is defined and premierMedia is not null  %}
      <img class="img-fluid rounded mx-auto d-block" src="{{ asset('uploads/photos/' ~ premierMedia.link) }}" style="max-width: 700px; max-height: 700px;">
    {% else %}
      <img class="img-fluid" src="{{asset ('assets/img/portfolio/cabin.png')}}" alt="..." />
    {% endif %}
    <div class="row justify-content-center" style="margin: 2em;">
      <div class="col-12 col-md-6 d-flex flex-wrap">
        {% for picture in figure.pictures %}
          <div class="col-sm-4">
            <img src="{{ asset('uploads/photos/' ~ picture.link) }}" alt="Image" style="max-width: 200px; max-height: 200px; margin-top: 2em; margin-left: auto; margin-right: auto;">
          </div>
        {% endfor %}
      </div>
      <div class="col-12 col-md-6 d-flex flex-wrap">
        {% for video in figure.videos %}
          <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-1by1" style="max-width: 200px; max-height: 200px; margin-top: 2em; margin-left: 2em; margin-right: auto;">
              <iframe class="embed-responsive-item" src="{{ video.link }}" allowfullscreen></iframe>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  <div class="row justify-content-center" style="margin: 2em;">
    <div class="col-12 col-md-8">
      <p>
        {{figure.description}}
      </p>
      <hr class="my-4">
      <div class="d-flex justify-content-between">
        <div class="border p-3">
          {{figure.name}}
        </div>
        <div class="border p-3">
          {{figure.createdAt.format('Y-m-d')}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
