{% extends "baseneutre.html.twig" %}

{% block body %}


<div style ="margin-top: 10em; margin-bottom: 10em;">
  <main class="form-signin h-100 w-50 m-auto" >
    {{ form_start(form, {'method': 'POST'} ) }}
      <h1 class="h3 mb-3 fw-normal">Inscriptions</h1>
      <div class="form-floating">
         {{ form_row(form.name) }}
      </div>
      <div class="form-floating">  
         {{ form_row(form.first_name) }}
      </div>

      <div class="form-floating">
         {{ form_row(form.mail) }}
      </div>
      <div class="form-floating">        
         {{ form_row(form.password) }}
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">inscriptions</button>
    {{ form_end(form) }}
  </main>
</div>
{% endblock %}